<ul>
  <li *ngFor="let layerTool of layerTools" [ngClass]="layerTool.active?'active':''" (click)="activeTools(layerTool)">
    <span class="icon"
          [ngStyle]="{'background': !layerTool.active?('url(./../../../assets/images/map/layer-tools/' + layerTool.icon + '.svg)'): ('url(./../../../assets/images/map/layer-tools/'+ layerTool.icon+'-1.svg)')}"></span>
    <span class="name">
            {{layerTool.name}}
        </span>
  </li>
</ul>
<div class="tool-popups">
  <div class="layer-box">
    <app-base-map-manage *ngIf="activeTool.name === '底图'"></app-base-map-manage>
  </div>
</div>
